@import './utils/variables';

main{
    color: $color-primary;
    .title{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .location{
        font-size: 14px;
        font-weight: 500;
        margin-top: 0;
    }
    .tags{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .details{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}