@import "./utils/variables";
@import "./utils/mixins";

.header{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include tablet{
        margin-bottom: 20px;
    }
    img{
        width: auto;
        height: 2.35rem;
        @include tablet{
            height: 3.3rem;
        }
    }
    .nav{
        &-link{
            font-size: 12px;
            font-weight: 500;
            margin-left: 5vw;
            color: $color-primary;
            @include tablet{
                font-size: 1.2rem;
            }
        }
        .active{
            text-decoration: underline;
        }
    }
}