@import './utils/variables';

.tag{
    width: 84px;
    min-height: 18px;
    max-height: 30px;
    background-color: $color-primary;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: $radius-collapse;
    margin-right: 10px;
}