@import './utils/variables';
@import './utils/mixins';

.tag{
    width: 84px;
    min-height: 18px;
    max-height: 30px;
    background-color: $color-primary;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: $radius-collapse;
    margin-right: 10px;
    p{
        padding: 1px;
        margin: 0;
    }
    @include tablet{
        width: 115px;
        min-height: 25px;
        max-height: 45px;
        font-size: 0.875rem;
        border-radius: $radius-accommodation-desktop;
    }
}